.img-fluid{
text-align: center;
}
/*
.popover {
    max-width: 200px;
}

.popover-content {
    font-size: 14px;
    line-height: 1.5;
}

.popover-header {
    font-weight: bold;
    padding: 5px 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}
*/