<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}">Приложение "Ресторан"</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="home_style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <style>
    .navbar-light {
      margin-top: 56px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Restaurant App</a>
    <div class="collapse navbar-collapse" id="navbarNav2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register">Register</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="users">Users</a>
        </li>
      </ul>
    </div>
  </nav>
<header>
  <div class="container">
    <a href="/" class="navbar-brand">
    </a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarNav" aria-controls="navbarNav"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="managers">Менеджеры</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="restaurants">Рестораны</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="menus">Меню</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="food_categories">Категории блюд</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="foods">Блюда</a>
          </li>
          <li class="nav-item mr-auto">
            <a class="nav-link active" data-toggle="popover" data-content="ФИО Автора: Данилкина Наталья Андреевна<br>Учебная Группа: ПИ21-1<br>Почта: n-danilkina@list.ru">Об Авторе</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<main>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center font-weight-bold mb-4">Добро пожаловать в CRUD приложение для работы с базой данных ресторана!</h3>
        <p>Приложение предоставляет следующие функции:</p>
        <ul>
          <li>Создание, чтение, обновление и удаление (CRUD) записей в базе данных</li>
          <li>Фильтрация записей по различным полям</li>
          <li>Сортировка столбцов в таблице</li>
          <li>Регистрация на странице для возможности зарегистрироваться, войти и выйти</li>
          <li>Гистограмма для визуального отображения количества записей в каждой таблице</li>
          <li>Поле об авторе для связи со мной</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-4">
      <div class="col-md-12">
        <p class="text-center font-weight-bold mb-4">ER-диаграмма предметной области</p>
        <div class="d-flex justify-content-center">
          <img src="er-diagram.png" alt="ER-диаграмма моей базы данных" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="text-center">
          <p class="font-weight-bold">Гистограмма количества записей</p>
          <canvas id="chart"></canvas>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="bg-dark text-light py-3 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2023 Restaurant App.</p>
      </div>
    </div>
  </div>
</footer>
<!-- Add jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<!-- Add Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<!-- Add Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- Подключение библиотеки Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="jquery-3.3.1.js"></script>
<script src="home_script.js"></script>
<script>
  // Получение данных из модели Spring
var managerCount = [[${managerCount}]];
var restaurantCount = [[${restaurantCount}]];
var menuCount = [[${menuCount}]];
var foodCategoryCount = [[${foodCategoryCount}]];
var foodCount = [[${foodCount}]];

// Определение элемента canvas для гистограммы
var chartCanvas = document.getElementById('chart');

// Создание данных для гистограммы
var chartData = {
    labels: ['Менеджеры', 'Рестораны', 'Меню', 'Категории блюд', 'Блюда'],
    datasets: [{
        label: 'Количество записей',
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)'
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)'
        ],
        borderWidth: 1,
        data: [managerCount, restaurantCount, menuCount, foodCategoryCount, foodCount]
    }]
};

// Создание объекта гистограммы с помощью Chart.js
var chart = new Chart(chartCanvas, {
    type: 'bar',
    data: chartData
});
</script>
</body>
</html>