<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Restaurant</title>
</head>
<body>
<h1>New Restaurant</h1>
<form action="#" th:action="@{/restaurants/restaurants_new}" th:object="${restaurant}" method="post">

    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="Name" placeholder="Name"/><br/>

    <label for="address">Address:</label>
    <input type="text" th:field="*{address}"id="address" placeholder="Address"/><br/>

    <label for="phone">Phone:</label>
    <input type="text" th:field="*{phone}" id="phone" placeholder="Phone"/><br/>

    <label for="manager">Manager:</label>
    <select id="manager" name="manager.id">
<!--        <option value="">&#45;&#45; Select Manager &#45;&#45;</option>-->
        <option th:each="manager : ${managers}"
                th:value="${manager.id}"
                th:text="${manager.firstName}">Manager Name</option>
    </select><br/>

    <input type="submit" value="Save"/>
</form>
<a href="/restaurants">Back to list</a>
</body>
</html>
