<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <title>Restaurant List</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Рестораны</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Назад</a>
    </nav>
</div>
<table border="1" class="table table-striped table-responsive-md">
    <form method="get" action="#" th:action="@{/restaurants}">
        <div class="row">
            <div class="col">
                <input type="text" name="name" class="form-control" placeholder="Search by name">
            </div>
            <div class="col">
                <input type="text" name="address" class="form-control" placeholder="Search by address">
            </div>
            <div class="col">
                <input type="text" name="phone" class="form-control" placeholder="Search by phone">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</table>
<div th:switch="${restaurants}">
    <h2 th:case="null">No restaurants found!</h2>
    <div th:case="*">
        <a th:href="@{/restaurants/restaurants_new}" class="btn btn-primary btn-sm mb-3 my-0 mr-md-auto font-weight-normal"> Add Restaurant </a>
        <table border="1" class="table table-striped table-responsive-md">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Manager</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="restaurant : ${restaurants}">
                <td th:text="${restaurant.id}"></td>
                <td th:text="${restaurant.name}"></td>
                <td th:text="${restaurant.address}"></td>
                <td th:text="${restaurant.phone}"></td>
                <td th:text="${restaurant.manager.firstName}"></td>
                <td><a th:href="@{restaurants/  {id}/restaurants_edit(id=${restaurant.id})}" class="btn btn-primary">Edit</a></td>
                <td><a th:href="@{restaurants/{id}/restaurants_delete(id=${restaurant.id})}" class="btn btn-danger">Delete</a></td>
                </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>